.home {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('../assets/pexels-nietjuh-934070.jpg');
  background-size: 1920px;
  padding: 5px 0px 0px 5px;
}

.home h1 {
  color: grey;
}

.home h2 {
  color: #909090;
}

.home h3 {
  color: black;
}

.info {
  flex-grow: 0;
  width: 60vw;
}
