* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  gap: 30px;
}

.bar {
  border: 3px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #EEFFFF;
  font-size: 1.5rem;
  padding: 0px 40px;
  position: sticky;
  top: 0px;
}

.bar img {
  height: 1.5rem;
}

.total-items {
  position: relative;
  top: -0.1rem;
  right: 30px;
  font-size: 1rem;
}
